@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 146, 199, 207;
  --background-rgb: 251, 249, 241;
  --primary-color: #AAD7D9;
  --secondary-color: #E5E1DA;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
